*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
_data
dist
report.html
lib
es

elasticsearch-*
config/base.yaml
/.vscode/
coverage
yarn.lock
package-lock.json
bun.lock
bun.lockb
pnpm-lock.yaml
bun.lockb
.pnpm-debug.log
packages/*/components/**/*.js
packages/*/components/**/*.jsx
!packages/*/components/**/__tests__/**/*.js
!packages/*/components/**/__tests__/**/*.js.snap
/.history
*.tmp
artifacts.zip
oss-artifacts.zip
server/



packages/*/.dumi/tmp
packages/*/.dumi/tmp-test
packages/*/.dumi/tmp-production
packages/*/.dumi/preset/components-changelog*
packages/*/.dumi/preset/misc-changelog.json

# Image snapshot diff
__diff_output__/
__image_snapshots__/
/jest-stare
/imageSnapshots*
/imageDiffSnapshots
/visualRegressionReport*

.devcontainer*
.husky/prepare-commit-msg

.eslintcache
.node-version
.node

.env
examples/

packages/x-markdown/plugins
packages/x-markdown/themes

packages/x/locale

# Docs templates
packages/x/scripts/previewEditor/index.html
packages/x/components/version/version.ts
packages/x/components/version/version.tsx
packages/x/components/version/token.json
packages/x/components/version/token-meta.json
packages/x/components/theme/interface/XMarkdownComponents.ts

packages/x-markdown/src/plugins/version/version.ts
packages/x-markdown/src/plugins/version/plugin-meta.json
packages/x-markdown/src/plugins/version/token-meta.json
packages/x-markdown/src/plugins/version/token.json
packages/x-markdown/src/version/version.ts

packages/x-sdk/src/version/version.ts
